<div class="container">
<div class="info" *ngIf="this.customerSlug != '' ">
    <h1 class="text-center">Customer Record</h1>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">Age</th>
          <th class="text-center">Company</th>
          <th class="text-center">Gender</th>
          <th class="text-center">Customer ID</th>
          <th class="text-center">Country</th>
          <th class="text-center">State</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" *ngFor="let key of this.customers[this.customerSlug]">{{key}}</td>
      </tr>
      </tbody>      
    </table>
    <br />
    <br/><br/>
  </div>
</div>